src/assets/convergent-charging/wsdl/erpservices_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.-->
<definitions targetNamespace="http://erpservices.ws.highdeal.com/" name="erpservices"
             xmlns:schema="http://schema.erpservices.ws.highdeal.com/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://erpservices.ws.highdeal.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://schema.erpservices.ws.highdeal.com/" schemaLocation="erpservices_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="prepaidAccountRead">
        <part name="request" element="schema:PrepaidAccountReadRequest"/>
    </message>
    <message name="prepaidAccountReadResponse">
        <part name="response" element="schema:PrepaidAccountReadResponse"/>
    </message>
    <message name="BITReadFull">
        <part name="request" element="schema:BITReadFullRequest"/>
    </message>
    <message name="BITReadFullResponse">
        <part name="response" element="schema:BITReadResponse"/>
    </message>
    <message name="BITReadLight">
        <part name="request" element="schema:BITReadLightRequest"/>
    </message>
    <message name="BITReadLightResponse">
        <part name="response" element="schema:BITReadResponse"/>
    </message>
    <message name="businessPartnerMaintainFull">
        <part name="request" element="schema:BusinessPartnerMaintainFullRequest"/>
    </message>
    <message name="businessPartnerMaintainFullResponse">
        <part name="response" element="schema:BusinessPartnerMaintainResponse"/>
    </message>
    <message name="businessPartnerMaintainLight">
        <part name="request" element="schema:BusinessPartnerMaintainLightRequest"/>
    </message>
    <message name="businessPartnerMaintainLightResponse">
        <part name="response" element="schema:BusinessPartnerMaintainResponse"/>
    </message>
    <message name="businessPartnerRead">
        <part name="request" element="schema:BusinessPartnerReadRequest"/>
    </message>
    <message name="businessPartnerReadResponse">
        <part name="response" element="schema:BusinessPartnerReadResponse"/>
    </message>
    <message name="contractAccountMaintainFull">
        <part name="request" element="schema:ContractAccountMaintainFullRequest"/>
    </message>
    <message name="contractAccountMaintainFullResponse">
        <part name="response" element="schema:ContractAccountMaintainResponse"/>
    </message>
    <message name="contractAccountMaintainLight">
        <part name="request" element="schema:ContractAccountMaintainLightRequest"/>
    </message>
    <message name="contractAccountMaintainLightResponse">
        <part name="response" element="schema:ContractAccountMaintainResponse"/>
    </message>
    <message name="contractAccountRead">
        <part name="request" element="schema:ContractAccountReadRequest"/>
    </message>
    <message name="contractAccountReadResponse">
        <part name="response" element="schema:ContractAccountReadResponse"/>
    </message>
    <message name="prepaidAccountMaintainFull">
        <part name="request" element="schema:PrepaidAccountMaintainFullRequest"/>
    </message>
    <message name="prepaidAccountMaintainFullResponse">
        <part name="response" element="schema:PrepaidAccountMaintainResponse"/>
    </message>
    <message name="prepaidAccountMaintainLight">
        <part name="request" element="schema:PrepaidAccountMaintainLightRequest"/>
    </message>
    <message name="prepaidAccountMaintainLightResponse">
        <part name="response" element="schema:PrepaidAccountMaintainResponse"/>
    </message>
    <message name="productMaintainFull">
        <part name="request" element="schema:ProductMaintainFullRequest"/>
    </message>
    <message name="productMaintainFullResponse">
        <part name="response" element="schema:ProductMaintainResponse"/>
    </message>
    <message name="productMaintainLight">
        <part name="request" element="schema:ProductMaintainLightRequest"/>
    </message>
    <message name="productMaintainLightResponse">
        <part name="response" element="schema:ProductMaintainResponse"/>
    </message>
    <message name="providerContractMaintainFull">
        <part name="request" element="schema:ProviderContractMaintainFullRequest"/>
    </message>
    <message name="providerContractMaintainFullResponse">
        <part name="response" element="schema:ProviderContractMaintainResponse"/>
    </message>
    <message name="providerContractMaintainLight">
        <part name="request" element="schema:ProviderContractMaintainLightRequest"/>
    </message>
    <message name="providerContractMaintainLightResponse">
        <part name="response" element="schema:ProviderContractMaintainResponse"/>
    </message>
    <message name="providerContractRead">
        <part name="request" element="schema:ProviderContractReadRequest"/>
    </message>
    <message name="providerContractReadResponse">
        <part name="response" element="schema:ProviderContractReadResponse"/>
    </message>
    <message name="InvoiceCreate">
        <part name="request" element="schema:InvoiceCreateRequest"/>
    </message>
    <message name="InvoiceCreateResponse">
        <part name="response" element="schema:InvoiceCreateResponse"/>
    </message>
    <message name="InvoiceDocumentSelect">
        <part name="request" element="schema:InvoiceDocumentSelectRequest"/>
    </message>
    <message name="InvoiceDocumentSelectResponse">
        <part name="response" element="schema:InvoiceDocumentSelectResponse"/>
    </message>
    <message name="InvoiceDocumentPrint">
        <part name="request" element="schema:InvoiceDocumentPrintRequest"/>
    </message>
    <message name="InvoiceDocumentPrintResponse">
        <part name="response" element="schema:InvoiceDocumentPrintResponse"/>
    </message>
    <portType name="ERPServices">
        <operation name="prepaidAccountRead">
            <input message="tns:prepaidAccountRead"/>
            <output message="tns:prepaidAccountReadResponse"/>
        </operation>
        <operation name="BITReadFull">
            <input message="tns:BITReadFull"/>
            <output message="tns:BITReadFullResponse"/>
        </operation>
        <operation name="BITReadLight">
            <input message="tns:BITReadLight"/>
            <output message="tns:BITReadLightResponse"/>
        </operation>
        <operation name="businessPartnerMaintainFull">
            <input message="tns:businessPartnerMaintainFull"/>
            <output message="tns:businessPartnerMaintainFullResponse"/>
        </operation>
        <operation name="businessPartnerMaintainLight">
            <input message="tns:businessPartnerMaintainLight"/>
            <output message="tns:businessPartnerMaintainLightResponse"/>
        </operation>
        <operation name="businessPartnerRead">
            <input message="tns:businessPartnerRead"/>
            <output message="tns:businessPartnerReadResponse"/>
        </operation>
        <operation name="contractAccountMaintainFull">
            <input message="tns:contractAccountMaintainFull"/>
            <output message="tns:contractAccountMaintainFullResponse"/>
        </operation>
        <operation name="contractAccountMaintainLight">
            <input message="tns:contractAccountMaintainLight"/>
            <output message="tns:contractAccountMaintainLightResponse"/>
        </operation>
        <operation name="contractAccountRead">
            <input message="tns:contractAccountRead"/>
            <output message="tns:contractAccountReadResponse"/>
        </operation>
        <operation name="prepaidAccountMaintainFull">
            <input message="tns:prepaidAccountMaintainFull"/>
            <output message="tns:prepaidAccountMaintainFullResponse"/>
        </operation>
        <operation name="prepaidAccountMaintainLight">
            <input message="tns:prepaidAccountMaintainLight"/>
            <output message="tns:prepaidAccountMaintainLightResponse"/>
        </operation>
        <operation name="productMaintainFull">
            <input message="tns:productMaintainFull"/>
            <output message="tns:productMaintainFullResponse"/>
        </operation>
        <operation name="productMaintainLight">
            <input message="tns:productMaintainLight"/>
            <output message="tns:productMaintainLightResponse"/>
        </operation>
        <operation name="providerContractMaintainFull">
            <input message="tns:providerContractMaintainFull"/>
            <output message="tns:providerContractMaintainFullResponse"/>
        </operation>
        <operation name="providerContractMaintainLight">
            <input message="tns:providerContractMaintainLight"/>
            <output message="tns:providerContractMaintainLightResponse"/>
        </operation>
        <operation name="providerContractRead">
            <input message="tns:providerContractRead"/>
            <output message="tns:providerContractReadResponse"/>
        </operation>
        <operation name="InvoiceCreate">
            <input message="tns:InvoiceCreate"/>
            <output message="tns:InvoiceCreateResponse"/>
        </operation>
        <operation name="InvoiceDocumentSelect">
            <input message="tns:InvoiceDocumentSelect"/>
            <output message="tns:InvoiceDocumentSelectResponse"/>
        </operation>
        <operation name="InvoiceDocumentPrint">
            <input message="tns:InvoiceDocumentPrint"/>
            <output message="tns:InvoiceDocumentPrintResponse"/>
        </operation>
    </portType>
    <binding name="ERPServicesPortBinding" type="tns:ERPServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="prepaidAccountRead">
            <soap:operation soapAction="prepaidAccountRead"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="BITReadFull">
            <soap:operation soapAction="BITReadFull"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="BITReadLight">
            <soap:operation soapAction="BITReadLight"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="businessPartnerMaintainFull">
            <soap:operation soapAction="businessPartnerMaintainFull"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="businessPartnerMaintainLight">
            <soap:operation soapAction="businessPartnerMaintainLight"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="businessPartnerRead">
            <soap:operation soapAction="businessPartnerRead"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="contractAccountMaintainFull">
            <soap:operation soapAction="contractAccountMaintainFull"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="contractAccountMaintainLight">
            <soap:operation soapAction="contractAccountMaintainLight"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="contractAccountRead">
            <soap:operation soapAction="contractAccountRead"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="prepaidAccountMaintainFull">
            <soap:operation soapAction="prepaidAccountMaintainFull"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="prepaidAccountMaintainLight">
            <soap:operation soapAction="prepaidAccountMaintainLight"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="productMaintainFull">
            <soap:operation soapAction="productMaintainFull"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="productMaintainLight">
            <soap:operation soapAction="productMaintainLight"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="providerContractMaintainFull">
            <soap:operation soapAction="providerContractMaintainFull"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="providerContractMaintainLight">
            <soap:operation soapAction="providerContractMaintainLight"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="providerContractRead">
            <soap:operation soapAction="providerContractRead"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InvoiceCreate">
            <soap:operation soapAction="InvoiceCreate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InvoiceDocumentSelect">
            <soap:operation soapAction="InvoiceDocumentSelect"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="InvoiceDocumentPrint">
            <soap:operation soapAction="InvoiceDocumentPrint"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ERP">
        <port name="ERPPort"  binding="tns:ERPServicesPortBinding">
            <soap:address location="http://127.0.0.1:8080/erpservices"/>
        </port>
    </service>
</definitions>
