src/assets/convergent-charging/wsdl/rating_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><definitions targetNamespace="http://rating.ws.highdeal.com/" name="rating" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rating.ws.highdeal.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://suac.ws.highdeal.com/" schemaLocation="rating.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://schema.rating.ws.highdeal.com/" schemaLocation="rating_1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://schema.provisioning.ws.highdeal.com/" schemaLocation="rating_1_2_3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://rating.ws.highdeal.com/" schemaLocation="rating_1_2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://contract.ws.highdeal.com/" schemaLocation="rating_1_2_3_4.xsd"/>
    </xsd:schema>
  </types>
  <message name="chargingContractBulkActivate">
    <part name="request" element="ns1:chargingContractBulkActivateRequest" xmlns:ns1="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="chargingContractBulkActivateResponse">
    <part name="response" element="ns2:chargingContractBulkActivateResponse" xmlns:ns2="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="subscriptionBulkActivate">
    <part name="request" element="ns3:subscriptionBulkActivateRequest" xmlns:ns3="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="subscriptionBulkActivateResponse">
    <part name="response" element="ns4:subscriptionBulkActivateResponse" xmlns:ns4="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="chargedItemLoad">
    <part name="request" element="ns5:chargedItemLoadRequest" xmlns:ns5="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="chargedItemLoadResponse">
    <part name="response" element="ns6:chargedItemLoadResponse" xmlns:ns6="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="ratingSessionStart">
    <part name="request" element="ns7:ratingSessionStartRequest" xmlns:ns7="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="ratingSessionStartResponse">
    <part name="response" element="ns8:ratingSessionStartResponse" xmlns:ns8="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="jobStatusRead">
    <part name="request" element="ns9:jobStatusReadRequest" xmlns:ns9="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <message name="jobStatusReadResponse">
    <part name="response" element="ns10:jobStatusReadResponse" xmlns:ns10="http://schema.rating.ws.highdeal.com/"/>
  </message>
  <portType name="RatingServices">
    <operation name="chargingContractBulkActivate">
      <input message="tns:chargingContractBulkActivate"/>
      <output message="tns:chargingContractBulkActivateResponse"/>
    </operation>
    <operation name="subscriptionBulkActivate">
      <input message="tns:subscriptionBulkActivate"/>
      <output message="tns:subscriptionBulkActivateResponse"/>
    </operation>
    <operation name="chargedItemLoad">
      <input message="tns:chargedItemLoad"/>
      <output message="tns:chargedItemLoadResponse"/>
    </operation>
    <operation name="ratingSessionStart">
      <input message="tns:ratingSessionStart"/>
      <output message="tns:ratingSessionStartResponse"/>
    </operation>
    <operation name="jobStatusRead">
      <input message="tns:jobStatusRead"/>
      <output message="tns:jobStatusReadResponse"/>
    </operation>
  </portType>
  <binding name="RatingServicesPortBinding" type="tns:RatingServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="chargingContractBulkActivate">
      <soap:operation soapAction="chargingContractBulkActivate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="subscriptionBulkActivate">
      <soap:operation soapAction="subscriptionBulkActivate"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="chargedItemLoad">
      <soap:operation soapAction="chargedItemLoad"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ratingSessionStart">
      <soap:operation soapAction="ratingSessionStart"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="jobStatusRead">
      <soap:operation soapAction="jobStatusRead"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="rating">
    <port name="RatingServicesPort" binding="tns:RatingServicesPortBinding">
      <soap:address location="http://127.0.0.1:8080/rating"/>
    </port>
  </service>
</definitions>