src/assets/server/ccp/plugfest_draft.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>

<!-- ===================================================================

               OCHP 1.4 Plugfest Web Service Description

This document defines a standard interface between different parties in
the market of electric vehicle charging infrastructure and a clearing
house that provides a common data routing and exchange platform for all
these market shareholders.

Please note that the given documentation tags are not holding all
available information. For a full interface description please refer
to the OCHP specification PDF you can download from http://ochp.eu.


Copyright (c) 2018-2021 smartlab, bluecorner.be, e-laad.nl

Permission is hereby granted, free of charge, to any person obtaining a
copy of this software and associated documentation files (the
"Software"), to deal in the Software without restriction, including
without limitation the rights to use, copy, modify, merge, publish,
distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to
the following conditions:

The above copyright notice and this permission notice shall be included
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

==================================================================== -->

<wsdl:definitions
name="PlugfestDemoService"
targetNamespace="http://ochp.eu/1.4/plugfest"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns="http://ochp.eu/1.4/plugfest">

	<!-- =================================================================== Types ==================================================================== -->
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://ochp.eu/1.4/plugfest" schemaLocation="types-plugfest/message-elements.xsd"/>
		</xsd:schema>
	</wsdl:types>


	<!-- =================================================================== Messages ==================================================================== -->

	<!-- Messages for the Exchange of EMSP certificates handling -->
	<wsdl:message name="GetOEMCertificateRequest">
		<wsdl:part element="tns:GetOEMCertificateRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="GetOEMCertificateResponse">
		<wsdl:part element="tns:GetOEMCertificateResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="GetContractCertificateRequest">
		<wsdl:part element="tns:GetContractCertificateRequest" name="parameters" />
	</wsdl:message>

	<wsdl:message name="GetContractCertificateResponse">
		<wsdl:part element="tns:GetContractCertificateResponse" name="parameters" />
	</wsdl:message>

	<!-- =================================================================== Port Definitions ==================================================================== -->



  <wsdl:portType name="OCHP_1.4_plugfest">
	<wsdl:documentation>
		OCHP Version 1.4 Plugefest Extension
	</wsdl:documentation>

	<wsdl:operation name="GetContractCertificate">
			<wsdl:input message="tns:GetContractCertificateRequest" />
			<wsdl:output message="tns:GetContractCertificateResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetOEMCertificate">
			<wsdl:input message="tns:GetOEMCertificateRequest" />
			<wsdl:output message="tns:GetOEMCertificateResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- =================================================================== Binding Definitions ==================================================================== -->


	<wsdl:binding name="eCHS-OCHP_1.4_plugfest" type="tns:OCHP_1.4_plugfest">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />


		<!-- This is not necessary, cause it just adds a request header  -->
		<wsdl:operation name="GetOEMCertificate">
			<soap:operation soapAction="https://plugfest_demo.eu/GetOEMCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetContractCertificate">
			<soap:operation soapAction="https://plugfest_demo.eu/GetContractCertificate" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>


	<!-- =================================================================== Service Definition ==================================================================== -->

	<!--the service url could change later on-->
	<wsdl:service name="e-clearing.net">
		<wsdl:port name="echs_P-System" binding="tns:eCHS-OCHP_1.4_plugfest">
			<soap:address location="https://7kravoouwj.execute-api.eu-west-1.amazonaws.com/test/plugfest" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
