src/integration/pricing/convergent-charging/invoicing/wsdl/def1.xsd

        <!--
         Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
        -->
<xs:schema xmlns:tns="http://schema.ws.highdeal.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://schema.ws.highdeal.com/">
    <xs:complexType name="Response">
        <xs:sequence>
            <xs:element name="status" type="tns:ResponseStatus"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
            <xs:element name="error" type="tns:Failure" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResponseStatus">
        <xs:restriction base="tns:String256">
            <xs:enumeration value="return"/>
            <xs:enumeration value="error"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Failure">
        <xs:sequence>
            <xs:element name="category" type="tns:FailureCategory" minOccurs="0"/>
            <!--  should be minOccurs="1"  -->
            <xs:element name="message" type="xs:string" minOccurs="0"/>
            <xs:element name="cause" type="tns:FailureCause" minOccurs="0"/>
            <xs:element name="causedBy" type="tns:FailureCause" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FailureCategory">
        <xs:restriction base="tns:String256">
            <xs:enumeration value="alreadyExists"/>
            <xs:enumeration value="doesNotExist"/>
            <xs:enumeration value="invalid"/>
            <xs:enumeration value="prerequisiteMissing"/>
            <xs:enumeration value="incompatibleConfiguration"/>
            <xs:enumeration value="illegalState"/>
            <xs:enumeration value="temporaryIllegalState"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FailureCause">
        <xs:sequence>
            <xs:element name="module" type="xs:string"/>
            <xs:element name="code" type="xs:int"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NullableDate">
        <xs:complexContent>
            <xs:extension base="tns:NullableFlag">
                <xs:sequence>
                    <xs:element name="value" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NullableString">
        <xs:complexContent>
            <xs:extension base="tns:NullableFlag">
                <xs:sequence>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="NullableFlag">
        <xs:attribute name="undef" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="AdditionalInfo">
        <xs:sequence>
            <xs:element name="name" type="tns:String256"/>
            <xs:element name="description" type="tns:String2000" minOccurs="0"/>
            <xs:choice>
                <xs:element name="string" type="tns:String2000"/>
                <xs:element name="date" type="tns:Date"/>
                <xs:element name="number" type="tns:Decimal28_6"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <!--  Search Filter  -->
    <xs:complexType name="SearchFilter">
        <xs:sequence>
            <xs:element name="searchWindow" type="tns:SearchFilterWindow" minOccurs="0"/>
            <xs:element name="totalCountRequired" type="xs:boolean" minOccurs="0" default="false"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SearchFilterWindow">
        <xs:sequence>
            <xs:element name="windowSize" type="xs:int" minOccurs="0"/>
            <xs:element name="fromUniqueId" type="tns:String256" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SearchResponse">
        <xs:complexContent>
            <xs:extension base="tns:Response">
                <xs:sequence>
                    <xs:element name="totalCount" type="xs:int" minOccurs="0"/>
                    <xs:element name="lastUniqueId" type="tns:String256" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="StringAttributeDescription">
        <xs:sequence>
            <xs:choice>
                <xs:element name="enumeration" type="tns:StringEnumeration"/>
                <xs:element name="pattern" type="tns:String256"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAttributeDescription">
        <xs:sequence>
            <xs:choice>
                <xs:element name="enumeration" type="tns:DateEnumeration"/>
                <xs:element name="range" type="tns:DateRange"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberAttributeDescription">
        <xs:sequence>
            <xs:choice>
                <xs:element name="enumeration" type="tns:NumberEnumeration"/>
                <xs:element name="range" type="tns:NumberRange"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalAttributeDescription">
        <xs:sequence>
            <xs:element name="name" type="tns:String256"/>
            <xs:choice>
                <xs:element name="pattern" type="tns:String256"/>
                <xs:element name="stringEnumeration" type="tns:StringEnumeration"/>
                <xs:element name="numberEnumeration" type="tns:NumberEnumeration"/>
                <xs:element name="dateEnumeration" type="tns:DateEnumeration"/>
                <xs:element name="numberRange" type="tns:NumberRange"/>
                <xs:element name="dateRange" type="tns:DateRange"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StringEnumeration">
        <xs:sequence>
            <xs:element name="value" type="tns:String2000" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateEnumeration">
        <xs:sequence>
            <xs:element name="value" type="tns:Date" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberEnumeration">
        <xs:sequence>
            <xs:element name="value" type="tns:Decimal28_6" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateRange">
        <xs:sequence>
            <xs:element name="min" type="tns:DateBoundary" maxOccurs="1"/>
            <xs:element name="max" type="tns:DateBoundary" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateBoundary">
        <xs:simpleContent>
            <xs:extension base="tns:Date">
                <xs:attribute name="included" type="xs:boolean" default="true"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="NumberRange">
        <xs:sequence>
            <xs:element name="min" type="tns:NumberBoundary" maxOccurs="1"/>
            <xs:element name="max" type="tns:NumberBoundary" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NumberBoundary">
        <xs:simpleContent>
            <xs:extension base="tns:Decimal28_6">
                <xs:attribute name="included" type="xs:boolean" default="true"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="SearchOrderType">
        <xs:restriction base="tns:String256">
            <xs:enumeration value="asc"/>
            <xs:enumeration value="desc"/>
            <xs:enumeration value="noOrder"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SearchFilterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="number"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="date"/>
        </xs:restriction>
    </xs:simpleType>
    <!--  SAP CC base types  -->
    <xs:simpleType name="Decimal28_6">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="28"/>
            <xs:fractionDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Long">
        <xs:restriction base="xs:long">
            <xs:maxInclusive value="9223372036854775807"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Integer">
        <xs:restriction base="xs:int">
            <xs:maxInclusive value="2147483647"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PositiveDecimal28_6">
        <xs:restriction base="tns:Decimal28_6">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount">
        <xs:simpleContent>
            <xs:extension base="tns:Decimal28_6">
                <xs:attribute name="currencyCode" type="tns:CurrencyCode"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="PositiveAmount">
        <xs:simpleContent>
            <xs:extension base="tns:PositiveDecimal28_6">
                <xs:attribute name="currencyCode" type="tns:CurrencyCode"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="String256">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="String2000">
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Date">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:length value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Empty">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>