src/integration/pricing/convergent-charging/invoicing/wsdl/def2.xsd

        <!--
         Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
        -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schema.erp.ws.highdeal.com/" xmlns:core="http://schema.ws.highdeal.com/" version="1.0" targetNamespace="http://schema.erp.ws.highdeal.com/">
    <xs:import namespace="http://schema.ws.highdeal.com/" schemaLocation="def1.xsd"/>
    <xs:complexType name="BITReadLightRequest">
        <xs:sequence>
            <xs:element name="businessPartner" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contractAccount" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BITIRTStruct">
        <xs:sequence>
            <xs:element name="sign" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="option" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="low" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="high" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BITReadFullRequest">
        <xs:sequence>
            <xs:element name="I_INVOICED" type="xs:string" default="X" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_NOT_INVOICED" type="xs:string" default="X" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_MAX_NUM_BITS" type="xs:string" default="1000" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IRT_VKONT" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_GPART" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_VTREF" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_SRCTATYPE" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_SRCTAID" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_BITCAT" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_BITTYPE" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_SUBPROCESS" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_BITDATE" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_BITTIME" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IRT_INVDOCNO" type="tns:BITIRTStruct" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductMaintainLightRequest">
        <xs:sequence>
            <xs:element name="productName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="language" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="shortText" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="longText" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="salesOrganization" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="distributionChannel" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceCreateRequest">
        <xs:sequence>
            <xs:element name="I_GPART" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="I_VKONT" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="I_PROCESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_BILLING_PROCESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_BILLING_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_PROCESS" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="I_INVOICE_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_BLDAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_BUDAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_FIKEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_MAX_PROBCL" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceDocumentPrintRequest">
        <xs:sequence>
            <xs:element name="INVDOCHEADER" type="tns:INVDOCHEADER" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="INVDOCHEADER">
        <xs:sequence>
            <xs:element name="I_GPART" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="I_VKONT" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="I_PROCESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_BILLING_PROCESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_BILLING_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_PROCESS" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="I_INVOICE_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_BLDAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_BUDAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_INVOICE_FIKEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="I_MAX_PROBCL" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IS_PRD">
        <xs:sequence>
            <xs:element name="MANDT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRDNR" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PRDTY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOGSYS" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_PRDT">
        <xs:sequence>
            <xs:element name="MANDT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRDNR" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="LANGU" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SHTXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LGTXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_PRDS">
        <xs:sequence>
            <xs:element name="MANDT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRDNR" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="VKORG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VTWEG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="KTGRM" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProductMaintainFullRequest">
        <xs:sequence>
            <xs:element name="IV_DELTA" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IS_PRD" type="tns:IS_PRD" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IT_PRDT" type="tns:IT_PRDT" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="IT_PRDS" type="tns:IT_PRDS" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessPartnerMaintainLightRequest">
        <xs:sequence>
            <xs:element name="partnerCategory" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="firstName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="lastName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="city" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="countryISO" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="postalCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CentralData">
        <xs:sequence>
            <xs:element name="SEARCHTERM1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SEARCHTERM2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNERTYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AUTHORIZATIONGROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNERLANGUAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNERLANGUAGEISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DATAORIGINTYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CENTRALARCHIVINGFLAG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CENTRALBLOCK" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TITLE_KEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONTACTALLOWANCE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNEREXTERNAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TITLELETTER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NOTRELEASED" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COMM_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRINT_MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CentralDataPerson">
        <xs:sequence>
            <xs:element name="FIRSTNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LASTNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BIRTHNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MIDDLENAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SECONDNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TITLE_ACA1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TITLE_ACA2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TITLE_SPPL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PREFIX1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PREFIX2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NICKNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INITIALS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAMEFORMAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAMCOUNTRY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAMCOUNTRYISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SEX" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BIRTHPLACE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BIRTHDATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DEATHDATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MARITALSTATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORRESPONDLANGUAGE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORRESPONDLANGUAGEISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FULLNAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EMPLOYER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="OCCUPATION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NATIONALITY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NATIONALITYISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COUNTRYORIGIN" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CentralDataOrganization">
        <xs:sequence>
            <xs:element name="NAME1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME4" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LEGALFORM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INDUSTRYSECTOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FOUNDATIONDATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LIQUIDATIONDATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOC_NO_1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOC_NO_2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHK_DIGIT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LEGALORG" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CentralDataGroup">
        <xs:sequence>
            <xs:element name="NAMEGROUP1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAMEGROUP2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="GROUPTYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CentralDataValidity">
        <xs:sequence>
            <xs:element name="VALID_FROM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_TO" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressData">
        <xs:sequence>
            <xs:element name="STANDARDADDRESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="C_O_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CITY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DISTRICT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REGIOGROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="POSTL_COD1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="POSTL_COD2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="POSTL_COD3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PCODE1_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PCODE2_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PCODE3_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PO_BOX" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PO_W_O_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PO_BOX_CIT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PO_BOX_REG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="POBOX_CTRY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PO_CTRYISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STREET" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STR_ABBR" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOUSE_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOUSE_NO2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOUSE_NO3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STR_SUPPL1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STR_SUPPL2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STR_SUPPL3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOCATION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUILDING" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FLOOR" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ROOM_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COUNTRY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COUNTRYISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REGION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TIME_ZONE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TAXJURCODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOME_CITY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TRANSPZONE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LANGU" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LANGUISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COMM_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXTADDRESSNUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DONT_USE_P" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DONT_USE_S" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MOVE_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MOVE_ADDRESS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALIDFROMDATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALIDTODATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MOVE_ADDR_GUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CITY_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DISTRCT_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHCKSTATUS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PBOXCIT_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STREET_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOMECITYNO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PO_BOX_LOBBY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DELI_SERV_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DELI_SERV_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TelefonData">
        <xs:sequence>
            <xs:element name="COUNTRY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COUNTRYISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STD_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TELEPHONE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXTENSION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TEL_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CALLER_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STD_RECIP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="R_3_USER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOME_FLAG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONSNUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ERRORFLAG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FLG_NOUSE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_FROM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_TO" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EMailData">
        <xs:sequence>
            <xs:element name="STD_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="E_MAIL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EMAIL_SRCH" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STD_RECIP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="R_3_USER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ENCODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TNEF" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="HOME_FLAG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONSNUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ERRORFLAG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FLG_NOUSE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_FROM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_TO" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Roles">
        <xs:sequence>
            <xs:element name="PARTNERROLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIFFTYPEVALUE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNERROLECATEGORY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALL_PARTNERROLES" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_FROM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALID_TO" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessPartnerMaintainFullRequest">
        <xs:sequence>
            <xs:element name="BUSINESSPARTNEREXTERN" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNERCATEGORY" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PARTNERGROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CENTRALDATA" type="tns:CentralData" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CENTRALDATAPERSON" type="tns:CentralDataPerson" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CENTRALDATAORGANIZATION" type="tns:CentralDataOrganization" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CENTRALDATAGROUP" type="tns:CentralDataGroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDRESSDATA" type="tns:AddressData" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TELEFONDATA" type="tns:TelefonData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="E_MAILDATA" type="tns:EMailData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TELEFONDATANONADDRESS" type="tns:TelefonData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="E_MAILDATANONADDRESS" type="tns:EMailData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ROLES" type="tns:Roles" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessPartnerReadRequest">
        <xs:sequence>
            <xs:element name="BusinessPartnerNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractAccountMaintainLightRequest">
        <xs:sequence>
            <xs:element name="businessPartner" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="accountCategory" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="accountName" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="accountRelationship" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="toleranceGroup" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="companyCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="standardCompanyCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="clearingCategory" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcCreateInfo">
        <xs:sequence>
            <xs:element name="CONT_ACCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACCT_CAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="APPL_AREA" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LEGACY_ACCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcDetail">
        <xs:sequence>
            <xs:element name="ACCT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcDetails">
        <xs:sequence>
            <xs:element name="CONT_ACCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CR_ON" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CREATED_BY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CH_ON" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHANGED_BY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="APPL_AREA" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACCT_CAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LEGACY_ACCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACCT_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcPartnerDetail">
        <xs:sequence>
            <xs:element name="LINE_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REF_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COMP_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_PAYER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_PAYEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_DUNN_RECIP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BANK_INC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BANK_OUTG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="METHOD_INC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="METHOD_OUTG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="WU_LIST" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DEL_FLAG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COLL_ACCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INT_KEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DUNN_PROC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DUNN_GROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PLAN_GRP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACCT_RELAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACCT_PAID_BY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PART_PAID_BY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_PAYER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_PAYEE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_DUNN" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_BILL_RECIP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_BILL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_JURISDICT_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AUTHORITYGROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TOLER_GROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TAXJURCODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORRESP_VARIANT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TRADE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ITEMS_TRANSFERED" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CCARD_INC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CCARD_OUTG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALT_CORR_RECIPIENT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORR_ACTIVITY_KEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="W_TAX_CODE_OUT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="W_TAX_CODE_IN" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXEMPT_NO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORR_DUNN_PROC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TAX_CATEGORY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="REGION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COUNTY_CDE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLEARING_CATEGORY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RESTRICT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SUPCOUNTRY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SUPCOUNTRY_ISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_BUSPARTNER_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_PAYER_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_PAYEE_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_DUNN_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_ALT_BILL_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ADDR_JURISD_CODE_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_PAYER_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_PAYEE_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_DUNN_RECIP_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_BILL_RECIP_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXTERNID_INC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXTERNID_OUTG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="WITH_TAX_EXEMPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUAG_GUID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STANDARD_COMP_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="OWNBANKID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUS_PLACE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TAXID_TYPE1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TAXID_TYPE2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CM_EX_DAYS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PERS_RESP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INVOICING_CATEGORY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIRECT_DEBIT_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIRECT_DEBIT_CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIRECT_DEBIT_CURRENCY_ISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIRECT_DEBIT_MONTHS" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIRECT_DEBIT_ROLLING" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COLLGROUP" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COLLSTRAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COLLPERSON" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INV_SCHEDULE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INVOICING_CYCLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INVOICING_CYCLE_DAY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INVOICING_CYCLE_MONTH" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INVOICING_CYCLE_RULE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="INVOICING_CYCLE_START" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcChargesDiscounts">
        <xs:sequence>
            <xs:element name="PROCESSING_MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNEREXTERNAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGE_KEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGE_DATE_FROM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGE_DATE_TO" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcLockDetail">
        <xs:sequence>
            <xs:element name="PROCESSING_MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER_EXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOCK_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PROCESS_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOCK_REASON" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FROM_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TO_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOCK_OBJECT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACTIVITY_KEY" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExtensionIn">
        <xs:sequence>
            <xs:element name="STRUCTURE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALUEPART1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALUEPART2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALUEPART3" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALUEPART4" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcCorrReceiver">
        <xs:sequence>
            <xs:element name="PROCESSING_MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BUSPARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNEREXTERNAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RECEIVEREXTERNAL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORR_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CORR_ROLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RECEIVER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SUBSTITUTE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACTIVITY" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CtrAcTaxExemption">
        <xs:sequence>
            <xs:element name="PROCESSING_MODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TAX_CODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="COND_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXEMPTION_START" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXEMPTION_END" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXEMPTION_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EXEMPTION_RATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractAccountMaintainFullRequest">
        <xs:sequence>
            <xs:element name="CTRACCREATEINFO" type="tns:CtrAcCreateInfo" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CTRACDETAIL" type="tns:CtrAcDetail" minOccurs="1" maxOccurs="1"/>
            <xs:element name="TESTRUN" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALIDFROM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CTRACPARTNERDETAIL" type="tns:CtrAcPartnerDetail" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CTRACCHARGESDISCOUNTS" type="tns:CtrAcChargesDiscounts" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CTRACLOCKDETAIL" type="tns:CtrAcLockDetail" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="EXTENSIONIN" type="tns:ExtensionIn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CTRACCORRRECEIVER" type="tns:CtrAcCorrReceiver" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CTRACTAXEXEMPTION" type="tns:CtrAcTaxExemption" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractAccountReadRequest">
        <xs:sequence>
            <xs:element name="ContractAccount" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="BusinessPartner" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrepaidAccountMaintainLightRequest">
        <xs:sequence>
            <xs:element name="BusinessPartner" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ContractAccount" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Currency" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CurrencyISO" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="MinAmount" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrepaidAccountData">
        <xs:sequence>
            <xs:element name="BUSPARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONT_ACCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CURRENCY_ISO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PLANNED_CLOSE_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLOSE_DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MIN_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="USE_LIMIT1_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LIMIT1_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="USE_LIMIT2_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LIMIT2_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="USE_LIMIT3_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LIMIT3_AMOUNT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ALTER_PAYER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PAYMENT_BY" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BANK_INC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CCARD_INC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CC_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CC_NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CC_NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CC_VALID_F" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CC_VALID_T" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrepaidAccountMaintainFullRequest">
        <xs:sequence>
            <xs:element name="PREPAIDACCOUNTEXT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PREPAIDACCOUNTDATA" type="tns:PrepaidAccountData" minOccurs="1" maxOccurs="1"/>
            <xs:element name="TESTRUN" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrepaidAccountReadRequest">
        <xs:sequence>
            <xs:element name="PrepaidAccount" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Accounts">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AccountID" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Params">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
                <xs:element name="stringValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="numberValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="dateValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Counters">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechIdent">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="UserServiceID" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargingItem">
        <xs:sequence>
            <xs:element name="ChargingItemClassID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ClassType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="AccountAssignments" type="tns:Accounts" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Parameters" type="tns:Params" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Counters" type="tns:Counters" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TechnicalIdentifier" type="tns:TechIdent" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractItem">
        <xs:sequence>
            <xs:element name="ContractItemID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Product" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="SalesOrganization" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DistributionChannel" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="PostpaidAccountDefault" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PrepaidAccountDefault" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="DistributionChannel" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ChargingItem" type="tns:ChargingItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AdditionalInformation">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Description" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
                <xs:element name="stringValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="numberValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="dateValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProviderContractMaintainLightRequest">
        <xs:sequence>
            <xs:element name="BusinessPartner" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ContractID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ContractDescription" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ContractStartDate" type="xs:string" default="yyyyMMddHHmmss" minOccurs="1" maxOccurs="1"/>
            <xs:element name="TimeZone" type="xs:string" default="CET" minOccurs="1" maxOccurs="1"/>
            <xs:element name="ContractItem" type="tns:ContractItem" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="AdditionalInformation" type="tns:AdditionalInformation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ISHeader">
        <xs:sequence>
            <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARTNER" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONTRACT_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONTRACT_START" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONTRACT_END" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="LOEVM" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VTALT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BEGRU" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACTIVATE_AT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHANGED_AT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TIME_ZONE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_ITEMS">
        <xs:sequence>
            <xs:element name="CONTRACT_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PARENT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="VALIDTO" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ITEM_DESC" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SALES_ORG" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIS_CHANNEL" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DIVISION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SALES_AREA_ATTR1" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SALES_AREA_ATTR2" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PRODUCT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="BILLCYCLE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="POSTPAID_ACCOUNT_DFLT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PREPAID_ACCOUNT_DFLT" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_CHARGING_ITEMS">
        <xs:sequence>
            <xs:element name="CONTRACT_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_CLASS_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CLASS_TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_CHARGING_ITEM_SHAREDCOUNTER">
        <xs:sequence>
            <xs:element name="CONTRACT_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_CLASS_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAMESPACE" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_CHARGING_ITEM_PARAMS">
        <xs:sequence>
            <xs:element name="CONTRACT_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_CLASS_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SELECTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STRING" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_CHARGING_ITEM_ACCOUNTS">
        <xs:sequence>
            <xs:element name="CONTRACT_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_CLASS_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TYPE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ACCOUNT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_CHARGING_ITEM_TECH_IDENT">
        <xs:sequence>
            <xs:element name="CONTRACT_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CHARGING_ITEM_CLASS_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="USER_SERVICE_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IT_ADDITIONAL_INFO">
        <xs:sequence>
            <xs:element name="CONTRACT_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DESCRIPTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SELECTION" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="STRING" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DATE" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NUMBER" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProviderContractMaintainFullRequest">
        <xs:sequence>
            <xs:element name="IS_HEADER" type="tns:ISHeader" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IV_SCENARIO_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IT_ITEMS" type="tns:IT_ITEMS" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="IT_CHARGING_ITEMS" type="tns:IT_CHARGING_ITEMS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IT_CHARGING_ITEM_SHAREDCOUNTER" type="tns:IT_CHARGING_ITEM_SHAREDCOUNTER" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IT_CHARGING_ITEM_PARAMS" type="tns:IT_CHARGING_ITEM_PARAMS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IT_CHARGING_ITEM_ACCOUNTS" type="tns:IT_CHARGING_ITEM_ACCOUNTS" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IT_CHARGING_ITEM_TECH_IDENT" type="tns:IT_CHARGING_ITEM_TECH_IDENT" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="IT_ADDITIONAL_INFO" type="tns:IT_ADDITIONAL_INFO" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProviderContractReadRequest">
        <xs:sequence>
            <xs:element name="ProviderContractNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="IV_SCENARIO_ID" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>