src/integration/pricing/convergent-charging/invoicing/wsdl/def3.xsd

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schema.erpservices.ws.highdeal.com/"
           xmlns:core="http://schema.ws.highdeal.com/" xmlns:erp="http://schema.erp.ws.highdeal.com/"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" version="1.0"
           targetNamespace="http://schema.erpservices.ws.highdeal.com/" jaxb:version="2.0">
    <xs:import namespace="http://schema.ws.highdeal.com/" schemaLocation="def1.xsd"/>
    <xs:import namespace="http://schema.erp.ws.highdeal.com/" schemaLocation="def2.xsd"/>
    <!--  BITRead requests and response  -->
    <xs:element name="BITReadFullRequest" type="erp:BITReadFullRequest"/>
    <xs:element name="BITReadLightRequest" type="erp:BITReadLightRequest"/>
    <xs:element name="BITReadResponse" type="tns:BITReadResponse"/>
    <!--  ProductMaintain request and response  -->
    <xs:element name="ProductMaintainFullRequest" type="erp:ProductMaintainFullRequest"/>
    <xs:element name="ProductMaintainLightRequest" type="erp:ProductMaintainLightRequest"/>
    <xs:element name="ProductMaintainResponse" type="tns:ProductMaintainResponse"/>
    <!--  BusinessPartner requests and response  -->
    <xs:element name="BusinessPartnerMaintainFullRequest" type="erp:BusinessPartnerMaintainFullRequest"/>
    <xs:element name="BusinessPartnerMaintainLightRequest" type="erp:BusinessPartnerMaintainLightRequest"/>
    <xs:element name="BusinessPartnerMaintainResponse" type="tns:BusinessPartnerMaintainResponse"/>
    <xs:element name="BusinessPartnerReadRequest" type="erp:BusinessPartnerReadRequest"/>
    <xs:element name="BusinessPartnerReadResponse" type="tns:BusinessPartnerReadResponse"/>
    <!--  ContractAccount requests and response  -->
    <xs:element name="ContractAccountMaintainFullRequest" type="erp:ContractAccountMaintainFullRequest"/>
    <xs:element name="ContractAccountMaintainLightRequest" type="erp:ContractAccountMaintainLightRequest"/>
    <xs:element name="ContractAccountMaintainResponse" type="tns:ContractAccountMaintainResponse"/>
    <xs:element name="ContractAccountReadRequest" type="erp:ContractAccountReadRequest"/>
    <xs:element name="ContractAccountReadResponse" type="tns:ContractAccountReadResponse"/>
    <!--  PrepaidAccount requests and response  -->
    <xs:element name="PrepaidAccountMaintainFullRequest" type="erp:PrepaidAccountMaintainFullRequest"/>
    <xs:element name="PrepaidAccountMaintainLightRequest" type="erp:PrepaidAccountMaintainLightRequest"/>
    <xs:element name="PrepaidAccountMaintainResponse" type="tns:PrepaidAccountMaintainResponse"/>
    <xs:element name="PrepaidAccountReadRequest" type="erp:PrepaidAccountReadRequest"/>
    <xs:element name="PrepaidAccountReadResponse" type="tns:PrepaidAccountReadResponse"/>
    <!--  ProviderContract requests and response  -->
    <xs:element name="ProviderContractMaintainFullRequest" type="erp:ProviderContractMaintainFullRequest"/>
    <xs:element name="ProviderContractMaintainLightRequest" type="erp:ProviderContractMaintainLightRequest"/>
    <xs:element name="ProviderContractMaintainResponse" type="tns:ProviderContractMaintainResponse"/>
    <xs:element name="ProviderContractReadRequest" type="erp:ProviderContractReadRequest"/>
    <xs:element name="ProviderContractReadResponse" type="tns:ProviderContractReadResponse"/>
    <!--  Invoice Creation request and response  -->

    <xs:element name="InvoiceCreateRequest" type="erp:InvoiceCreateRequest"/>
    <xs:element name="InvoiceCreateResponse" type="tns:InvoiceCreateResponse"/>
    <xs:element name="InvoiceDocumentPrintRequest" type="erp:InvoiceDocumentPrintRequest"/>
    <xs:element name="InvoiceDocumentPrintResponse" type="tns:InvoiceDocumentPrintResponse"/>
    <!--   TO BE REMOVED WHEN DEFINED IN THE OTHER FILE   -->
    <xs:complexType name="BITReadResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="BIT" type="tns:BIT" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProductMaintainResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InvoiceCreateResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InvoiceDocumentPrintResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BusinessPartnerMaintainResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="BusinessPartnerNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BusinessPartnerReadResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="CentralData" type="erp:CentralData" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CentralDataPerson" type="erp:CentralDataPerson" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CentralDataOrganization" type="erp:CentralDataOrganization" minOccurs="0"
                                maxOccurs="1"/>
                    <xs:element name="CentralDataGroup" type="erp:CentralDataGroup" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CentralDataValidity" type="erp:CentralDataValidity" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="TelefonDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="FaxDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="TeletexDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="TelexDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="EMailDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="RMLAddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="X400AddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="RFCAddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="PRTAddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="SSFAddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="URIAddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="PagAddressDataNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="CommunicationNotesNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="CommunicationUsageNonAddress" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContractAccountMaintainResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="ContractAccountNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ContractAccountReadResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="CtrAcDetail" type="erp:CtrAcDetails" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="Return" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="CtrAcPartnerDetail" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="CtrAcChargesDiscounts" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="CtrAcLockDetail" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="ExtensionOut" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PrepaidAccountMaintainResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="PrepaidAccountNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PrepaidAccountReadResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="PrepaidAccountDetail" type="erp:PrepaidAccountData" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProviderContractMaintainResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="ProviderContractNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ProviderContractReadResponse">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="ET_Headers" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="ET_Items" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="ET_Charging_Items" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ET_Charging_Item_SharedCounter" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ET_Charging_Item_Params" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ET_Charging_Item_Accounts" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ET_Charging_Item_Tech_Ident" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ET_Additional_Info" type="tns:ReturnedMessage" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="ReturnedMessage" type="tns:ReturnedMessage" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BIT">
        <xs:sequence>
            <xs:element name="detail" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="value" type="xs:anySimpleType"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReturnedMessage">
        <xs:sequence>
            <xs:element name="detail" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="value" type="xs:anySimpleType"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>