src/integration/pricing/sap-convergent-charging/assets/wsdl/statefulCharging_def1.xsd

        <!--
         Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
        -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schema.charging.ws.highdeal.com/" xmlns:core="http://schema.ws.highdeal.com/" version="1.0" targetNamespace="http://schema.charging.ws.highdeal.com/">
    <xs:import namespace="http://schema.ws.highdeal.com/" schemaLocation="statefulCharging_def2.xsd"/>
    <xs:complexType name="ChargeableItem">
        <xs:sequence>
            <xs:element name="name" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="userTechnicalId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="consumptionDate" type="core:Date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="property" type="tns:ChargeableItemProperty" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargeableItemProperty">
        <xs:sequence>
            <xs:element name="name" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:choice>
                <xs:element name="stringValue" type="core:String256" minOccurs="1" maxOccurs="1"/>
                <xs:element name="numberValue" type="core:Decimal28_6" minOccurs="1" maxOccurs="1"/>
                <xs:element name="dateValue" type="core:Date" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReservationItem">
        <xs:sequence>
            <xs:element name="name" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="property" type="tns:ChargeableItemProperty" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationItem">
        <xs:sequence>
            <xs:element name="name" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="property" type="tns:ChargeableItemProperty" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResultTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE_TRANSACTION"/>
            <xs:enumeration value="MASTER_TRANSACTION"/>
            <xs:enumeration value="ALL_TRANSACTION"/>
            <xs:enumeration value="ALL_TRANSACTION_AND_RECURRING"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FilterTransactionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResolutionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="confirmed"/>
            <xs:enumeration value="cancelled"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatefulCharge">
        <xs:sequence>
            <xs:element name="chargeableItem" type="tns:ChargeableItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivateRequest">
        <xs:sequence>
            <xs:element name="subscriberAccountCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceProvider" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="resultType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="filterTransaction" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="toDate" type="core:Date" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargingRequest">
        <xs:sequence>
            <xs:element name="chargeableItem" type="tns:ChargeableItem" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transactionSelection" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="filterTransaction" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BlankChargingRequest">
        <xs:sequence>
            <xs:element name="chargeableItem" type="tns:ChargeableItem" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transactionSelection" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="filterTransaction" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StartRateRequest">
        <xs:sequence>
            <xs:element name="reservationItem" type="tns:ReservationItem" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sessionID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="consumptionDate" type="core:Date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="userTechnicalId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="defaultResolution" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="timeToLive" type="xs:int" minOccurs="1" maxOccurs="1"/>
            <xs:element name="resultType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="filterTransaction" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cleanupResultType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="propertyToInverse" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateRateRequest">
        <xs:sequence>
            <xs:element name="confirmationItem" type="tns:ConfirmationItem" minOccurs="1" maxOccurs="1"/>
            <xs:element name="reservationItem" type="tns:ReservationItem" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sessionID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="consumptionDate" type="core:Date" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="userTechnicalId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="resultType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="filterTransaction" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cleanupResultType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StopRateRequest">
        <xs:sequence>
            <xs:element name="confirmationItem" type="tns:ConfirmationItem" minOccurs="1" maxOccurs="1"/>
            <xs:element name="sessionID" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="serviceId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="userTechnicalId" type="core:String256" minOccurs="1" maxOccurs="1"/>
            <xs:element name="resolution" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="resultType" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="filterTransaction" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="cleanupResultType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="notification">
        <xs:complexType>
            <xs:sequence>
                <!--
                <xs:element name="arg" type="arg" minOccurs="0" maxOccurs="unbounded"/>
               -->
                <xs:element name="arg" type="tns:arg" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="instanceId" type="xs:string"/>
            <xs:attribute name="timestamp" type="xs:string"/>
            <xs:attribute name="descUid" type="xs:string"/>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="prettyName" type="xs:string"/>
            <xs:attribute name="severityLevel" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="arg">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:anySimpleType"/>
    </xs:complexType>
    <xs:simpleType name="detailType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="date"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="detail">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string"/>
            <xs:attribute name="type" type="tns:detailType"/>
            <xs:attribute name="value" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="transac" type="tns:TransactionType"/>
    <xs:complexType name="TransactionType">
        <xs:sequence>
            <xs:element name="detail" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="value" type="xs:anySimpleType"/>
                </xs:complexType>
            </xs:element>
            <xs:element ref="tns:notification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="amount" type="xs:string"/>
        <xs:attribute name="offerCode" type="xs:string"/>
        <xs:attribute name="chargePlanId" type="xs:string"/>
        <xs:attribute name="subscriptionCode" type="xs:string"/>
        <xs:attribute name="chargingContractId" type="xs:string"/>
        <xs:attribute name="chargeCode" type="xs:string"/>
        <xs:attribute name="dispatchCode1" type="xs:string"/>
        <xs:attribute name="dispatchCode2" type="xs:string"/>
        <xs:attribute name="dispatchCode3" type="xs:string"/>
        <xs:attribute name="origin" type="tns:TransactionOrigin"/>
        <xs:attribute name="date" type="xs:dateTime"/>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="relationshipType" type="tns:TransacRelationShipTypeType" default="client"/>
        <xs:attribute name="operationType" type="tns:TransacOperationTypeType" default="debit"/>
        <xs:attribute name="reservationUID" type="xs:long"/>
        <xs:attribute name="sessionID" type="xs:string"/>
    </xs:complexType>
    <xs:simpleType name="TransactionOrigin">
        <xs:restriction base="xs:string">
            <xs:enumeration value="usage"/>
            <xs:enumeration value="recurring"/>
            <xs:enumeration value="oneshot"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransacRelationShipTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="client"/>
            <xs:enumeration value="partner"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransacOperationTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="debit"/>
            <xs:enumeration value="credit"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OrderState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="paid"/>
            <xs:enumeration value="free"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="order">
        <xs:sequence>
            <xs:element ref="tns:transac" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="status" type="tns:OrderState"/>
        <xs:attribute name="amount" type="xs:string"/>
        <xs:attribute name="snapshotId" type="xs:int"/>
    </xs:complexType>
    <!--
      <xs:complexType name="ChargingResponse">
       <xs:complexContent>
          <xs:extension base="tns:order">
            <xs:sequence>
             <xs:element name="chargingResult" type="tns:ChargingResult" minOccurs="0" maxOccurs="unbounded" />
           </xs:sequence>
         </xs:extension>
       </xs:complexContent>
     </xs:complexType>
   -->
    <xs:complexType name="ChargingResponse">
        <xs:sequence>
            <xs:element name="order" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="chargingResult" type="tns:ChargingResult" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivateResponse">
        <xs:sequence>
            <xs:element name="order" type="tns:order" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="chargingResult" type="tns:ChargingResult" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="transacSet" type="tns:TransactionSetType"/>
    <xs:complexType name="TransactionSetType">
        <xs:sequence>
            <xs:element name="master" type="tns:TransactionType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="dependent" type="tns:TransactionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="startRateResult">
        <xs:sequence>
            <xs:element name="transacSetToCleanup" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToConfirm" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToReserve" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="amountToConfirm" type="xs:string"/>
        <xs:attribute name="amountToReserve" type="xs:string"/>
        <xs:attribute name="transactionSetID" type="xs:long"/>
        <xs:attribute name="limit" type="xs:decimal"/>
    </xs:complexType>
    <xs:complexType name="updateRateResult">
        <xs:sequence>
            <xs:element name="transacSetToCleanup" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToConfirm" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToReserve" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToCancel" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="amountToConfirm" type="xs:string"/>
        <xs:attribute name="amountToReserve" type="xs:string"/>
        <xs:attribute name="amountToCancel" type="xs:string"/>
        <xs:attribute name="accumulatedAmount" type="xs:string"/>
        <xs:attribute name="limit" type="xs:decimal"/>
    </xs:complexType>
    <xs:complexType name="stopRateResult">
        <xs:sequence>
            <xs:element name="transacSetToCleanup" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToConfirm" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="transacSetToCancel" type="tns:TransactionSetType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="amountToConfirm" type="xs:string"/>
        <xs:attribute name="amountToCancel" type="xs:string"/>
        <xs:attribute name="accumulatedAmount" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="StartRateResponse">
        <xs:sequence>
            <xs:element name="startRateResult" type="tns:startRateResult" minOccurs="0" maxOccurs="1"/>
            <xs:element name="chargingResult" type="tns:ChargingResult" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateRateResponse">
        <xs:sequence>
            <xs:element name="updateRateResult" type="tns:updateRateResult" minOccurs="0" maxOccurs="1"/>
            <xs:element name="chargingResult" type="tns:ChargingResult" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StopRateResponse">
        <xs:sequence>
            <xs:element name="stopRateResult" type="tns:stopRateResult" minOccurs="0" maxOccurs="1"/>
            <xs:element name="chargingResult" type="tns:ChargingResult" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChargingResult">
        <xs:complexContent>
            <xs:extension base="core:Response">
                <xs:sequence>
                    <xs:element name="chargeableItemInFailure" type="tns:ChargeableItem" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>