src/entity/integration/convergentCharging/statefulCharging.wsdl

        <!--
         Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.
        -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:schema="http://schema.statefulcharging.ws.highdeal.com/" xmlns:tns="http://statefulcharging.ws.highdeal.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="rerating" targetNamespace="http://statefulcharging.ws.highdeal.com/">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://schema.statefulcharging.ws.highdeal.com/" schemaLocation="def3.xsd"/>
        </xsd:schema>
    </types>
    <message name="activateRequest">
        <part name="request" element="schema:activateRequest"/>
    </message>
    <message name="activateResponse">
        <part name="response" element="schema:activateResponse"/>
    </message>
    <message name="chargeRequest">
        <part name="request" element="schema:statefulChargeRequest"/>
    </message>
    <message name="chargeResponse">
        <part name="response" element="schema:statefulChargeResponse"/>
    </message>
    <message name="getEstimatedPriceRequest">
        <part name="request" element="schema:getEstimatedPriceRequest"/>
    </message>
    <message name="getEstimatedPriceResponse">
        <part name="response" element="schema:getEstimatedPriceResponse"/>
    </message>
    <message name="blankChargeRequest">
        <part name="request" element="schema:blankChargeRequest"/>
    </message>
    <message name="blankChargeResponse">
        <part name="response" element="schema:blankChargeResponse"/>
    </message>
    <message name="statefulStartRateRequest">
        <part name="request" element="schema:statefulStartRateRequest"/>
    </message>
    <message name="statefulStartRateResponse">
        <part name="response" element="schema:statefulStartRateResponse"/>
    </message>
    <message name="statefulUpdateRateRequest">
        <part name="request" element="schema:statefulUpdateRateRequest"/>
    </message>
    <message name="statefulUpdateRateResponse">
        <part name="response" element="schema:statefulUpdateRateResponse"/>
    </message>
    <message name="statefulStopRateRequest">
        <part name="request" element="schema:statefulStopRateRequest"/>
    </message>
    <message name="statefulStopRateResponse">
        <part name="response" element="schema:statefulStopRateResponse"/>
    </message>
    <portType name="StatefulChargingServices">
        <operation name="activate">
            <input message="tns:activateRequest"/>
            <output message="tns:activateResponse"/>
        </operation>
        <operation name="charge">
            <input message="tns:chargeRequest"/>
            <output message="tns:chargeResponse"/>
        </operation>
        <operation name="getEstimatedPrice">
            <input message="tns:getEstimatedPriceRequest"/>
            <output message="tns:getEstimatedPriceResponse"/>
        </operation>
        <operation name="blankCharge">
            <input message="tns:blankChargeRequest"/>
            <output message="tns:blankChargeResponse"/>
        </operation>
        <operation name="statefulStartRate">
            <input message="tns:statefulStartRateRequest"/>
            <output message="tns:statefulStartRateResponse"/>
        </operation>
        <operation name="statefulUpdateRate">
            <input message="tns:statefulUpdateRateRequest"/>
            <output message="tns:statefulUpdateRateResponse"/>
        </operation>
        <operation name="statefulStopRate">
            <input message="tns:statefulStopRateRequest"/>
            <output message="tns:statefulStopRateResponse"/>
        </operation>
    </portType>
    <binding name="StatefulChargingServicesBinding" type="tns:StatefulChargingServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="activate">
            <soap:operation soapAction="activate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="charge">
            <soap:operation soapAction="charge"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getEstimatedPrice">
            <soap:operation soapAction="getEstimatedPrice"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="blankCharge">
            <soap:operation soapAction="blankCharge"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="statefulStartRate">
            <soap:operation soapAction="statefulStartRate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="statefulUpdateRate">
            <soap:operation soapAction="statefulUpdateRate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="statefulStopRate">
            <soap:operation soapAction="statefulStopRate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="statefulCharging">
        <port name="statefulChargingPort" binding="tns:StatefulChargingServicesBinding">
            <soap:address location="https://hybris-00124-9000000-emea.sapdemocloud.com:443/ARTIX/statefulCharging"/>
        </port>
    </service>
</definitions>